<div class="home">
    <div class="h-100 vh-100 d-flex align-items-center justify-content-around">
        <div class="display-4 w-50 text-white">
            Galerie d'images de la planète Mars<br>
            <small class="text-secondary bg-white rounded">Prises par la NASA</small>
        </div>
        <div class="d-flex h-50 flex-column justify-content-around">
            <a href="/photos" class="btn btn-success">Les photos</a>
            <a href="/gallery" class="btn btn-primary">Ma galerie</a>
        </div>
    </div>
</div>